---
import BackToTop from "../components/BackToTop.astro";
import BaseHead from "../components/BaseHead.astro";
import dayjs from "dayjs";
import Footer from "../components/Footer.astro";
import FormattedDate from "../components/FormattedDate.astro";
import FormattedDateHuman from "../components/FormattedDateHuman.astro";
import Header from "../components/Header.astro";
import type { CollectionEntry } from "astro:content";
import type { MarkdownHeading } from "astro";
import { Image } from "astro:assets";
import { Icon } from "astro-icon/components";
import TableOfContents from "../components/TableOfContents.astro";
import Breadcrumbs from "../components/Breadcrumbs.astro";

type Props = CollectionEntry<"blog">["data"] & {
  headings: MarkdownHeading[];
};

const { title, description, heroImage, headings } = Astro.props;
const pubDate = dayjs(Astro.props.pubDate);
const updatedDate = Astro.props.updatedDate
  ? dayjs(Astro.props.updatedDate)
  : null;
const tags = Astro.props.tags ? Astro.props.tags.sort() : [];
---

<html lang="es">
  <head>
    <BaseHead title={title} description={description} />
    <style>
      main {
        width: calc(100% - 1em);
        max-width: 100%;
        margin: 0;
      }
      .hero-image {
        width: 100%;
      }
      .hero-image img {
        display: block;
        margin: 0 auto;
        border-radius: 12px;
        box-shadow: var(--box-shadow);
      }
      .prose {
        width: 75ch;
        max-width: calc(100% - 1em);
        margin: auto;
        padding: 1em;
        color: rgb(var(--gray-dark));
      }
      .title {
        margin-bottom: 1em;
        padding: 1em 0;
        text-align: center;
        line-height: 1;
      }
      .title h1 {
        margin: 0 0 0.5em 0;
        color: var(--accent);
      }
      .date {
        display: flex;
        align-content: space-around;
        margin-bottom: 0.5em;
        color: rgb(var(--gray));
        font-size: 0.9em;
      }
      .date div {
        flex: auto;
        margin-right: 1em;
      }
      .last-updated-on {
        font-style: italic;
      }
      article {
        max-width: 80ch;
        margin: auto;
        padding: 1em;
        align-self: center;
        box-shadow: none;
        background-color: transparent;
      }
      .extras {
        display: flex;
        justify-content: space-between;
        margin-bottom: 0.5rem;
      }
      .extras div {
        display: flex;
        align-items: center;
        gap: 0.5em;
        max-width: 100%;
        margin-bottom: 1em;
      }
      .repo {
        justify-content: flex-start;
        padding: 0.1em 0.5em;
        border-radius: var(--pico-border-radius);
        color: rgb(var(--gray));
        font-size: 0.8em;
        font-family: var(--font-code);
      }
      .repo a {
        text-decoration: none;
        color: rgb(var(--gray));
        transition: 0.2s ease;
      }
      .repo a:hover {
        color: rgb(var(--gray-dark));
      }
      .repo.card {
        padding: 0.5em;
        border-radius: var(--pico-border-radius);
        background-color: var(--pico-color-slate-50);
        color: var(--pico-color-slate-450);
      }
      .tags {
        display: flex;
        align-self: flex-end;
        flex-wrap: wrap;
        justify-content: flex-end;
      }
      .tag {
        padding: 0.3em;
        font-size: 0.7em;
        color: rgb(var(--gray));
        text-decoration: none;
        transition: 0.2s ease;
        font-family: var(--font-code);
      }
      .tag:hover {
        color: rgb(var(--gray-dark));
      }
      .draft {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 1em 0;
        padding: 1em;
        background-color: var(--pico-color-amber-50);
        border-radius: var(--pico-border-radius);
        color: var(--pico-color-amber-250);
      }
      .draft p {
        margin: 0;
      }
      .draft svg {
        margin-right: 0.5em;
      }
      @media (max-width: 720px) {
        main {
          width: 100%;
          max-width: 100%;
        }
        .prose {
          width: 100%;
          padding: 0.5rem;
        }
      }
    </style>
  </head>

  <body>
    <Header />
    <main>
      <article>
        {
          Astro.url.pathname === "/about/" ? (
            <Breadcrumbs title={title} icons={["user"]} compact={true} />
          ) : (
            <Breadcrumbs title={title} icons={["archive", "file-text"]} />
          )
        }
        <div class="hero-image">
          {
            heroImage && (
              <Image
                src={heroImage}
                alt={title}
                width={1020}
                height={510}
                loading={"eager"}
              />
            )
          }
        </div>
        <div class="prose">
          <div class="title">
            <h1>{title}</h1>
            <div class="date">
              <div>
                <Icon name="tabler:calendar" />
                {" "}
                <FormattedDate date={pubDate.toISOString()} />
              </div>
              {
                updatedDate && !updatedDate.isSame(pubDate) && (
                  <div class="last-updated-on">
                    <Icon name="tabler:calendar-bolt" />
                    {"  "}
                    <FormattedDateHuman date={updatedDate.toISOString()} />
                  </div>
                )
              }
            </div>
          </div>
          <div class="extras">
            <div class="repo">
              {
                Astro.props.repo && (
                  <a href={Astro.props.repo} target="_blank" rel="noopener">
                    <Icon name="tabler:brand-github" /> Repositorio
                  </a>
                )
              }
            </div>
            <div class="tags">
              {
                tags &&
                  tags.map((tag) => (
                    <a href={`/tags/${tag}/`} class="tag">
                      <Icon name="tabler:tag" />
                      {tag}
                    </a>
                  ))
              }
            </div>
          </div>
          <TableOfContents headings={headings} />
          {
            Astro.props.draft && (
              <div class="draft">
                <Icon name="tabler:barrier-block" size="1.5em" />
                <p>Publicación en borrador</p>
              </div>
            )
          }
          <slot />
          {
            Astro.props.repo && (
              <div class="repo card">
                <Icon name="tabler:brand-github" /> Puedes encontrar el código
                desarrollado en este post en:{" "}
                <a href={Astro.props.repo} target="_blank" rel="noopener">
                  {Astro.props.repo}
                </a>
              </div>
            )
          }
        </div>
        <BackToTop />
      </article>
    </main>
    <Footer />
  </body>
</html>
